.content {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  row-gap: 20px;
  max-width: 900px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: minmax(auto, 200px) 20px minmax(auto, 120px) 20px minmax(auto, 220px) 20px 1fr;
  grid-template-rows: minmax(auto, 200px) minmax(auto, 120px) minmax(auto, 220px) 1fr;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.content>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.content>*:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.content>*:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.content>*:nth-child(4) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.content__img-wrapper {
  width: 100%;
  height: 200px;
}

.content__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
}

.profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 120px) 1fr;
  grid-template-columns: minmax(auto, 120px) 1fr;
}

.profile__image-wrapper {
  max-width: 100px;
  max-height: 100px;
}

.profile__image {
  width: 100%;
  height: 100%;
}

.profile__info {
  color: rgb(80, 80, 80);
}

.profile__name {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
}

.profile__list-item {
  margin-bottom: 7px;
}

.profile__list-item:last-child {
  margin-bottom: 0;
}