@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");


.wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  gap: 20px;
  -ms-grid-columns: 1fr 20px minmax(auto, 300px) 20px minmax(auto, 900px) 20px 1fr;
  grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 900px) 1fr;
  -ms-grid-rows: minmax(auto, 70px) 20px 1fr 20px minmax(auto, 50px);
  grid-template-rows: minmax(auto, 70px) 1fr minmax(auto, 50px);
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612533667_81-p-serii-fon-abstraktsiya-v-vektore-104.jpg");

}

.wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.wrapper > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.wrapper > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.wrapper > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.wrapper > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.wrapper > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.content {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  max-width: 900px;
  max-height: calc(100vh - 160px);
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}
