.nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  /*background-color: rgb(11, 151, 11);*/
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  row-gap: 20px;
}